@font-face {
    font-family: 'Circe';
    src: url('Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plumb';
    src: url('Plumb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}